body{
  font-family: Monserrat;
}

#title{
    background-color:black;
    font-display: white;
    color: white;
  padding-bottom: 250px;
font-family: Monserrat;
  margin-bottom: 30px;
}
.top{
text-align: center;
position: relative;
left: 500px;
top:50px;
}
.top-second{
  text-align: center;
  position: relative;
  left: 150px;
  top: 110px;
}
.btn-download{
  position:relative;
  top: 170px;

}
#navbar{
    background-color: black;
  }

#benefits{
  padding-bottom: 50px;
  padding-bottom: 100px;
}
.lefty{
  position: relative;
  left: 500px;
  padding-top: 100px;
}
.righty{
  position: relative;
  left: 500px;
  padding-top: 100px;
 
}

.para
{
  height:200px;
  width: 500px;
  position: relative;
  left: 500px;
}
#promote
{
  background-color: black;
  color: white;
  height: 500px;
}
.last
{
  text-align: center;
  padding-bottom: 25px;
  padding-top: 50px;
}
.para-one{
  height:200px;
  width: 500px;
  position: relative;
  line-height: 40px;
  left: 500px;
  font-family:gilroy;
  line-height: 25px;
}
.studies{
  width:50px;
  height:100px;
position: relative;
bottom:500px;
}
#footer{
  padding: 7% 15%;
  text-align: center;

  background-color: rgb(190, 190, 190);
}
#explore{
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
  margin-top: 100px;
}
.logo{
  height: 200px;
  width: 200px;
  position: relative;
  left: 650px;
  top: 50px;
  bottom: 50px;
}
.animate{
  animation-name: gunesh;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: alternate;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
}
@keyframes gunesh {
  
  0%{
top: 0px;
left: 0px;
  }
  25%{
top: 250px;
left: 0px;
  }
  75%{
   top: 250px;
   left: 250px;
  }
 
  100%{
top: 250px;
left: 0px;
  }
}
.airplane{
  width: 100px;
  height: 100px;
  position: relative;
  
}
.home2{
  width: 100px;
  height:100px;
}
.analytics{
  width: 100px;
  height:100px;
}
.money{
  width: 100px;
  height:100px;
  position: relative;
  left: 800px;
  top: 200px;
}
.trust{
  width: 100px;
  height:100px;
  position: relative;
  left: 1100px;
  top: 300px;
  border-radius:70% 70% 30% ;

}
.pay{
  width: 200px;
  height: 200px;
position:relative;
left: 250px;
bottom: 300px;
}
.pay-fam{
  width:200px;
  height: 200px;
  position: relative;
  left: 900px;
bottom: 200px;
}
.restaurant{
  width: 200px;
  height: 200px;
}
#benefits{
  padding-bottom: 100px;
}